.dark h1 {
	color: #fff
}

.dark h3 {
	color: #fff
}

.dark h5 {
	color: hsla(231, 15%, 18%, 1)
}

.home-section.dark a:not(.btn) {
	color: #6699CC
}

.dark code {
	color: #fff;
	background-color: hsla(231, 15%, 18%, 1);
}